# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.log

# Virtual environment
venv/
.env/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Reports / generated output
report/
*.pdf
*.html



# Tests output
Test/**/__pycache__/

# Jupyter
.ipynb_checkpoints/

# Temporary files
*.tmp
*.bak
